<div
    class="p-4 flex flex-col md:flex-row md:items-center gap-3 border-b bg-gray-50"
>
    <div class="flex flex-wrap items-center gap-2">
        <span class="text-xs font-semibold text-gray-700 mr-2">Filter:</span>
        <select
            class="border border-gray-200 rounded px-2 py-1 text-xs focus:ring-primary-500"
            [(ngModel)]="selectedSeverity"
            (change)="updateFilteredIssues()"
        >
            <option value="">All Severities</option>
            <option value="Minor">Minor</option>
            <option value="Medium">Medium</option>
            <option value="Major">Major</option>
        </select>
        <select
            class="border border-gray-200 rounded px-2 py-1 text-xs focus:ring-primary-500"
            [(ngModel)]="selectedType"
            (change)="updateFilteredIssues()"
        >
            <option value="">All Types</option>
            <option
                *ngFor="let category of errorCategories"
                value="{{ category }}"
                [selected]="selectedType === category"
            >
                {{ category }}
            </option>
        </select>
    </div>
    <div class="flex flex-wrap items-center gap-2">
        <span class="text-xs font-semibold text-gray-700 mr-2">Sort:</span>
        <select
            class="border border-gray-200 rounded px-2 py-1 text-xs focus:ring-primary-500"
            [(ngModel)]="sortBy"
            (change)="updateFilteredIssues()"
        >
            <option value="location">Location</option>
            <option value="severity">Severity</option>
            <option value="category">Category</option>
        </select>
        <button
            class="border border-gray-200 rounded px-2 py-1 text-xs bg-red-500 text-white hover:bg-red-600 cursor-pointer"
            (click)="resetFilters()"
        >
            Reset
        </button>
    </div>
</div>
<div class="mb-4 p-6">
    <div
        *ngIf="shownIssues.length === 0"
        class="text-gray-500 text-xl text-center my-4"
    >
        <span *ngIf="filteredIssues.length === 0" class="font-semibold"
            >No issues found</span
        >
        <span *ngIf="filteredIssues.length > 0" class="font-semibold"
            >No issues found for selected filters</span
        >
        <span *ngIf="filteredIssues.length > 0" class="font-semibold"
            >No more issues</span
        >
    </div>
    <div *ngIf="shownIssues.length > 0" class="grid md:grid-cols-2 gap-4">
        <app-issue-detail
            *ngFor="let issue of shownIssues"
            [issue]="issue"
            [text]="text"
            class="rounded-lg mb-2"
        />
        <span
            *ngIf="filteredIssues.length > nextWindowValue"
            (click)="toggleShowNext()"
            class="py-1 text-blue-500 font-semibold text-sm cursor-pointer hover:underline"
            >{{ getShowMoreText() }}</span
        >
    </div>
</div>
