<header id="header" class="bg-white shadow-sm py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <a href="/" class="flex items-center">
            <img src="images/logo.jpg" class="w-8 sm:w-12" alt="TextRefine Logo" />
        </a>
        <div class="flex items-center space-x-4">
            <button class="text-gray-600 hover:text-gray-800">
                <i class="fa-solid fa-circle-question"></i>
                <span class="ml-1 hidden sm:inline">Help</span>
            </button>
            <button class="text-gray-600 hover:text-gray-800">
                <i class="fa-solid fa-user"></i>
                <span class="ml-1 hidden sm:inline">Account</span>
            </button>
        </div>
    </div>
</header>
