<div
    class="{{ getCategoryBackgroundColorLight(issue) }} border-l-4 {{
        getCategoryTextColor(issue)
    }} rounded-lg px-4 py-3 flex gap-3 items-start issue-card"
>
    <span class="flex-shrink-0 mt-1">
        <i
            class="fas {{ getErrorIcon(issue) }} {{
                getCategoryTextColor(issue)
            }}"
        ></i>
    </span>
    <div class="flex-grow">
        <div class="flex items-center mb-2">
            <span
                class="text-[0.7rem] font-medium flex items-center {{
                    getCategoryBackgroundColor(issue)
                }} {{
                    getCategoryTextColor(issue)
                }} px-2 py-0.5 rounded-full mr-2"
            >
                {{ issue.category[0] }}
            </span>
            <span
                class="px-2 py-0.5 rounded-full text-[0.7rem] font-semibold {{
                    getSeverityClass(issue)
                }} mr-2"
            >
                {{ getSeverityOrder(issue) }}
            </span>
            <app-tooltip
                tooltipText="{{ getCategoryDescription(issue.category) }}"
            ></app-tooltip>
        </div>
        <div class="mb-2 text-gray-800" [innerHTML]="getIssueText(issue)"></div>
        <div class="mb-1 text-sm text-gray-700">
            <i class="text-blue-500 mr-1 fa fa-lightbulb"></i>
            {{ issue.message }}
            <br />
            <span
                class="bg-yellow-200 px-1.5 py-0.5 mt-2 inline-block rounded-full issue-chip font-semibold text-[0.7rem]"
            >
                Suggestions
            </span>
            :
            <span
                *ngFor="
                    let suggestion of issue.replacements.slice(0, 3);
                    let i = index
                "
                class="mt-2 text-cyan-800 text-[0.7rem]"
            >
                "{{ suggestion }}"
                <span *ngIf="i < issue.replacements.length - 1">, </span>
            </span>
        </div>
    </div>
</div>
