<div class="flex items-center mb-2">
    <i
        class="{{
            getScoreColor(lexicalDiversityResult?.ttr).text
        }} text-2xl mr-3 fa fa-layer-group"
    ></i>
    <h3 class="text-lg font-semibold text-gray-800">
        Lexical Diversity Analysis
    </h3>
</div>
<div class="flex flex-col md:flex-row md:items-center md:space-x-6 mb-5">
    <div class="flex flex-col items-center justify-center mb-4 md:mb-0">
        <div
            class="rounded-full {{
                getScoreColor(lexicalDiversityResult?.ttr).all
            }} w-20 h-20 flex flex-col items-center justify-center"
        >
            <span class="text-2xl font-bold">{{
                getScoreInPercentage(lexicalDiversityResult?.ttr)
            }}</span>
        </div>
        <span
            class="mt-2 text-xs font-semibold px-3 py-1 {{
                getScoreColor(lexicalDiversityResult?.ttr).all
            }} rounded-full"
            >{{ getScoreText(lexicalDiversityResult?.ttr) }}</span
        >
    </div>
    <div class="flex-1 flex flex-col space-y-2">
        <div class="flex items-center gap-2 text-sm text-gray-700">
            <i class="text-sky-400 fa fa-bars-progress"></i>
            Distinct Words:
            <span class="text-gray-900 font-bold ml-1">{{
                lexicalDiversityResult?.unique_count
            }}</span>
            <span class="ml-1 text-xs text-gray-500"
                >/ {{ lexicalDiversityResult?.word_count }} words
            </span>
            <app-tooltip
                tooltipText="Only meaningful content is counted (e.g. excluding stop words) - including duplicates."
                [translate]="'2/2'"
            />
        </div>
        <div class="flex items-center gap-2 text-sm text-gray-700">
            <i class="text-sky-400 fa fa-percent"></i>
            Type-Token Ratio (TTR):
            <span class="text-gray-900 font-bold ml-1">{{
                lexicalDiversityResult?.ttr | number : "1.2-2"
            }}</span>
            <app-tooltip
                tooltipText="Type-Token Ratio (TTR) measures the ratio of distinct words to total words. Higher values indicate more lexical diversity."
                [translate]="'2/2'"
            />
        </div>
        <div class="flex items-center gap-2 text-sm text-gray-700">
            <i class="text-sky-400 fa fa-chart-simple"></i>
            MTLD:
            <span class="text-gray-900 font-bold ml-1">Not available yet</span>
            <span class="ml-1 text-xs text-gray-500"
                >/ {{ lexicalDiversityResult?.word_count }}</span
            >
            <app-tooltip
                tooltipText="MTLD (Meaningful Text Length) measures the average length of meaningful text segments. Higher values indicate more lexical diversity."
                [translate]="'2/2'"
            />
        </div>
    </div>
</div>
<!-- Diversity Tips -->
<div class="flex items-center mt-4 text-xs text-gray-600">
    <i class="text-yellow-400 mr-2 fa fa-lightbulb"></i>
    <span
        >Tip: Use synonyms and vary your expressions to increase lexical
        diversity and engage your readers.</span
    >
</div>
