<div
    *ngIf="error && !isEvaluating"
    class="text-red-500 text-sm bg-red-100 text-center p-4 rounded mb-4"
>
    {{ error }}
</div>
<div
    *ngIf="info"
    class="text-blue-500 text-sm bg-blue-100 text-center p-4 rounded mb-4"
>
    {{ info }}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="bg-white rounded-lg shadow-md p-4">
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor
                [editor]="editor"
                formControlName="editorContent"
                [placeholder]="'Type here...'"
            ></ngx-editor>
        </div>
        <!-- Topic Input -->
        <div class="mt-4 mb-4">
            <div class="flex items-center mb-2 gap-2">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input
                        type="checkbox"
                        class="sr-only peer"
                        formControlName="useTopic"
                        (change)="onTopicToggle($event)"
                    />
                    <div
                        class="w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-sky-500 mr-2"
                    ></div>
                    <app-tooltip
                        tooltipText="Adding a topic helps the analysis focus on specific aspects of your text, providing more relevant feedback and suggestions."
                    ></app-tooltip>
                    <span class="ml-1 text-sm font-medium text-gray-700"
                        >Add Topic</span
                    >
                </label>
            </div>
            <input
                *ngIf="form.get('useTopic')?.value"
                type="text"
                formControlName="topic"
                placeholder="Enter topic (e.g., 'Climate Change', 'Mobile Technology')"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-sky-500 focus:border-transparent focus:outline-none transition duration-200 placeholder-gray-400"
            />
            <div
                *ngIf="form.get('topic')?.invalid && form.get('topic')?.touched"
                class="text-red-500 text-xs mt-1"
            >
                Please enter a topic
            </div>
        </div>

        <app-word-counter
            [wordCount]="wordCount"
            [charCount]="charCount"
        ></app-word-counter>

        <!-- Analyze Button / Progress Bar -->
        <div class="w-full">
            <div
                *ngIf="!isEvaluating && form.invalid"
                class="text-blue-500 text-sm my-2"
            >
                <i class="fa-solid fa-circle-exclamation"></i>
                At least {{ MIN_WORDS }} words are required
            </div>
            <button
                *ngIf="!isEvaluating"
                [disabled]="form.invalid"
                type="submit"
                class="w-full py-3 bg-sky-500 hover:bg-sky-700 text-white font-semibold rounded-lg transition duration-200 flex items-center justify-center cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-400"
            >
                <i class="mr-2 fa-solid fa-magnifying-glass"></i>
                Analyze Text
            </button>

            <div *ngIf="isEvaluating" class="w-full">
                <div class="progress-bar">
                    <div
                        class="progress-bar-fill"
                        [ngStyle]="{ width: progress + '%' }"
                    ></div>
                </div>
                <p class="progress-text">{{ currentStep }}</p>
            </div>
        </div>
    </div>
</form>
